body {
  margin: 0;
  font-family: "Arial";
}

h1 {
  text-align: center;
}

.admin,
.users {
  width: 40%;
}

.row {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.form {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
